/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Inconsolata:wght@200;300;400;700&family=Kanit:wght@300&family=Merriweather:wght@300&family=Orbit&family=Outfit:wght@100&family=Roboto+Serif:ital,wght@0,500;1,500;1,900&family=Sora:wght@100&family=Yeseva+One&display=swap");

:root {
  /* font */
  /* --font-family: "Roboto Serif", serif; */
  --font-family: "Geologica", sans-serif;

  /* color */
  --blue: #00cfe8;
  --indigo: #6610f2;
  --purple: #7367f0;
  --pink: #e83e8c;
  --red: #ea5455;
  --orange: #ff9f43;
  --yellow: #ffc107;
  --green: #28c76f;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #b8c2cc;
  --gray-dark: #1e1e1e;
  --primary: #7367f0;
  --secondary: #82868b;
  --success: #28c76f;
  --info: #00cfe8;
  --warning: #ff9f43;
  --danger: #ea5455;
  --light: #f6f6f6;
  --dark: #4b4b4b;

  /* screen size */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* new layout */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* font-family: var(--font-family); */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* letter-spacing: 1.3px;
  word-spacing: 3px; */
  background-color: var(--light);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color: --var(--dark);
}
.navbar {
  background-color: var(--light);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-top: 8px;
}
.sidebar {
  background-color: var(--light);
  width: 200px;
  position: fixed;
  top: 20px;
  margin-top: 70.5px;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  margin-left: 16px;
  /* height: 100vh; */
  margin-bottom: 14px;
  z-index: 1;
}
.content {
  padding: 20px;
  margin-left: 204px;
  margin-right: -2px;
  margin-top: 71.5px;
  background-color: var(--light);
  /* margin-bottom: -12px; */
  margin-bottom: 15px;
}
.footer {
  background-color: #333;
  color: #fff;
  margin-left: 214px;
  padding: 10px;
  text-align: center;
  background-color: var(--light);
  margin-right: 7px;
  margin-top: -30px;
}
/* new layout */

.wide-dialog-container {
  width: 100%;
}

.wide-dialog-popup {
  width: 100%;
  max-width: 800px;
}

.wide-dialog-content {
  width: 100%;
}

/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

/* body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  letter-spacing: 1.3px;
  word-spacing: 3px;
  background-color: var(--light);
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;
}

.wrapper {
  flex: 1;
} */

/* Nếu muốn loại bỏ khung viền (border), bạn có thể bỏ đoạn mã này
   vì trong trường hợp này, border: 0 không cần thiết. */
/* * {
  border: 0;
} */

/* Nếu muốn loại bỏ padding, bạn có thể bỏ đoạn mã này
   vì trong trường hợp này, padding: 0 không cần thiết. */
/* *,
*::before,
*::after {
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
} */

/* @media (max-width: 90%) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
} */

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  letter-spacing: 1.3px;
  word-spacing: 3px;
  background-color: var(--light);
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;
} */

input {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

a {
  color: var(--dark);
}

.size-12 {
  font-size: 12px;
}

.size-13 {
  font-size: 13px;
}

.size-14 {
  font-size: 14px;
}

.size-15 {
  font-size: 15px;
}

.size-16 {
  font-size: 16px;
}

.size-17 {
  font-size: 17px;
}

.size-18 {
  font-size: 18px;
}

.size-19 {
  font-size: 19px;
}

.size-20 {
  font-size: 20px;
}

.size-21 {
  font-size: 21px;
}

.size-22 {
  font-size: 22px;
}

.format-btn {
  border: 0;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  display: none;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgb(234 179 8);
  border-radius: 5px;
  height: 5px;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}



@media (max-width: 992px) {
  .sidebar{
   display: none;
   overflow: scroll;
   max-height: 100vh;
   height: 100vh;
  }
  .navbar{
    width: 100%;
    margin-right: 10px;
  }
  .content {
    padding: 15px;
    margin-left: -8px;
    margin-right: -566px;
    max-width: var(--content-max-width);/* Use the computed property */
    width: 1000px;
  }
 
  .footer {
    padding: 15px;
    margin-left: -8px;
    width: 1000px; /* Use the computed property */
  }
}
