@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap");

:root {
  /* font */
  --font-family: "Roboto Serif", serif;

  /* color */
  --blue: #00cfe8;
  --indigo: #6610f2;
  --purple: #7367f0;
  --pink: #e83e8c;
  --red: #ea5455;
  --orange: #ff9f43;
  --yellow: #ffc107;
  --green: #28c76f;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #b8c2cc;
  --gray-dark: #1e1e1e;
  --primary: #7367f0;
  --secondary: #82868b;
  --success: #28c76f;
  --info: #00cfe8;
  --warning: #ff9f43;
  --danger: #ea5455;
  --light: #f6f6f6;
  --dark: #4b4b4b;

  /* screen size */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: var(--font-family);
  letter-spacing: 1.3px;
  word-spacing: 3px;
  background-color: var(--light);
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;
}

input {
  outline: none;
}

li {
    list-style-type: none;
}

a {
  color: var(--dark);
}

